.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
*.hbs
tmp/**
.gitignore
typings/**
cache/**
tools/**
docs/**
*.yml
tsconfig.json
vsc-extension-quickstart.md
node_modules/@serialport/bindings/build/**
node_modules/@serialport/bindings/node_modules/**
node_modules/@serialport/bindings/src/**
node_modules/prebuild/**
node_modules/prebuild-install/**
node_modules/node-gyp/**
node_modules/node-ninja/**
node_modules/ajv/dist/**
node_modules/markdown-it/dist/**
node_modules/bson/browser_build/**
node_modules/unbzip2-stream/dist/**
node_modules/*/doc/**
node_modules/*/docs/**
node_modules/*/test/**