body {
    -webkit-user-select: none;
    user-select: none;
}
.catalog-panel {
    display: block;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: calc(100% - 4*28px);
    transition: top 0.2s ease, bottom 0.2s ease;
}
.catalog-panel-opened {
    bottom: 0px;
}
.catalog-panel-opened ~ .catalog-panel {
    top: calc(100% - 4*28px);
    bottom: 0px;
}
.catalog-header {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 19px;
    border-bottom: 1px;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: hsla(0,0%,50%,.2) !important;
    background-position: 2px 6px !important;
    cursor: pointer;
}
.catalog-panel-opened .catalog-header {
    cursor: default;
}
.catalog-panel-disabled .catalog-header {
    cursor: not-allowed;
}
.catalog-header-label {
    display: inline;
    font-weight: bold;
}
.catalog-header-decision {
    display: inline;
}
.catalog-list {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 28px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 4px;
}
.catalog-item {
    display: block;
    padding: 4px;
    margin-top: 4px;
    cursor: pointer;
}
.disable-scroll .catalog-list {
    overflow: hidden;
}
.vscode-dark .catalog-item:hover {
    background-color: hsla(0,0%,100%,.08);
}
.vscode-high-contrast .catalog-item:hover {
    outline: 1px dashed #f38518;
    outline-offset: -1px;
}
.vscode-light .catalog-item:hover {
    background-color: hsla(0,0%,0%,.04);
}
.catalog-item-with-icon {
    padding-left: 88px;
}
.catalog-item-icon {
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -80px;
}
img.catalog-image-64 {
    padding: 2px;
    box-shadow: 0 0 8px #fff;
    border-radius: 4px;
    width: 64px;
    height: 64px;
    background-color: #fff;
}
.catalog-item-line {
    display: block;
}
.catalog-item-title {
    font-weight: bold;
    font-size: 110%;
}
.catalog-item-description {
    font-size: 100%;
}
.catalog-item-author {
    margin-top: -2px;
    font-size: 90%;
    opacity: 0.6;
}
.catalog-item-tags {
    padding-top: 3px;
}
.catalog-badge {
    border-radius: .3em;
    padding: 1px .5em;
    color: #fff;
    font-size: 90%;
    font-weight: 500;
    background-color: #636c72;
}
.catalog-badge-pill {
    padding: 1px .7em;
    border-radius: 1em;
}
.catalog-badge-blue {
    background-color: #0275d8;
}
.catalog-badge-green {
    background-color: #5cb85c;
}
.catalog-badge-lightblue {
    background-color: #5bc0de;
}
.catalog-badge-orange {
    background-color: #f0ad4e;
}
.catalog-badge-red {
    background-color: #d9534f;
}
.vscode-high-contrast .catalog-badge-green,
.vscode-high-contrast .catalog-badge-lightblue,
.vscode-high-contrast .catalog-badge-orange {
    color: #000;
}
.catalog-item-config {
    float: right;
    padding-right: 16px;
    margin-top: -20px;
    cursor: pointer;
}
.vscode-dark .icon-triangle {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23e8e8e8' d='M6 4v8l4-4-4-4zm1 2.414L8.586 8 7 9.586V6.414z'/%3E%3C/svg%3E") no-repeat;
}
.vscode-high-contrast .icon-triangle {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23ffffff' d='M6 4v8l4-4-4-4zm1 2.414L8.586 8 7 9.586V6.414z'/%3E%3C/svg%3E") no-repeat;
}
.vscode-light .icon-triangle {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23646465' d='M6 4v8l4-4-4-4zm1 2.414L8.586 8 7 9.586V6.414z'/%3E%3C/svg%3E") no-repeat;
}
.vscode-dark .catalog-panel-opened .icon-triangle {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23e8e8e8' d='M11 10.07H5.344L11 4.414v5.656z'/%3E%3C/svg%3E") no-repeat;
}
.vscode-high-contrast .catalog-panel-opened .icon-triangle,
.vscode-light .catalog-panel-opened .icon-triangle {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23646465' d='M11 10.07H5.344L11 4.414v5.656z'/%3E%3C/svg%3E") no-repeat;
}
.vscode-dark .icon-gear,
.vscode-high-contrast .icon-gear {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg fill='%23C5C5C5'%3E%3Cpath d='M12.714 9.603c-.07.207-.15.407-.246.601l1.017 2.139a6.976 6.976 0 0 1-1.142 1.143l-2.14-1.018a4.797 4.797 0 0 1-.601.247l-.795 2.235c-.265.03-.534.05-.807.05-.272 0-.541-.02-.806-.05l-.795-2.235a4.874 4.874 0 0 1-.602-.247l-2.14 1.017a7.022 7.022 0 0 1-1.143-1.143l1.017-2.139a5.094 5.094 0 0 1-.245-.6L1.05 8.807C1.02 8.542 1 8.273 1 8s.02-.542.05-.807l2.236-.795c.07-.207.15-.407.246-.601L2.516 3.658a7.016 7.016 0 0 1 1.143-1.142l2.14 1.017c.193-.096.394-.176.602-.247l.793-2.236C7.459 1.02 7.728 1 8 1c.273 0 .542.02.808.05l.795 2.236c.207.07.407.15.601.246l2.14-1.017a6.97 6.97 0 0 1 1.142 1.142l-1.017 2.139c.096.194.176.394.246.601l2.236.795c.029.266.049.535.049.808s-.02.542-.05.807l-2.236.796zM8 5a3 3 0 1 0 0 6 3 3 0 0 0 0-6z'/%3E%3Ccircle cx='8' cy='8' r='1.5'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
}
.vscode-light .icon-gear {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg fill='%23424242'%3E%3Cpath d='M12.714 9.603c-.07.207-.15.407-.246.601l1.017 2.139a6.976 6.976 0 0 1-1.142 1.143l-2.14-1.018a4.797 4.797 0 0 1-.601.247l-.795 2.235c-.265.03-.534.05-.807.05-.272 0-.541-.02-.806-.05l-.795-2.235a4.874 4.874 0 0 1-.602-.247l-2.14 1.017a7.022 7.022 0 0 1-1.143-1.143l1.017-2.139a5.094 5.094 0 0 1-.245-.6L1.05 8.807C1.02 8.542 1 8.273 1 8s.02-.542.05-.807l2.236-.795c.07-.207.15-.407.246-.601L2.516 3.658a7.016 7.016 0 0 1 1.143-1.142l2.14 1.017c.193-.096.394-.176.602-.247l.793-2.236C7.459 1.02 7.728 1 8 1c.273 0 .542.02.808.05l.795 2.236c.207.07.407.15.601.246l2.14-1.017a6.97 6.97 0 0 1 1.142 1.142l-1.017 2.139c.096.194.176.394.246.601l2.236.795c.029.266.049.535.049.808s-.02.542-.05.807l-2.236.796zM8 5a3 3 0 1 0 0 6 3 3 0 0 0 0-6z'/%3E%3Ccircle cx='8' cy='8' r='1.5'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
}